@charset "UTF-8";

html {
    height: 850px;
}

body {
    background: rgb(254, 255, 0);
    background: linear-gradient(0deg, rgba(254, 255, 0, 1) 0%, rgba(45, 143, 253, 1) 63%);
}

header {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 100px;

}


h1 {

    margin-top: 40px;
}

img {
    height: 50px;
}

.login_form {
    width: 300px;
    height: 350px;
    background-color: #4773ff;
    margin: 0 auto;
    margin-top: 38px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);

}

.login_item {
    color: #ffffff;
    padding-bottom: 5px;
    margin-top: 10px;
}



.input-login {
    display: block;
    padding: 10px 47px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    text-align: center;
}


.login_title {
    text-align: center;
    padding: 35px;
    color: #ffffff;
}

.login_item_but {
    margin-top: 10px;
    margin-left: auto
}

.login_item_but input {
    display: block;
    padding: 10px 47px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
    background-color: #CC0066;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.new {
    text-align: center;
    padding: 35px;
}

.new a {
    color: #ffffff;
}

.new-form {
    width: 300px;
    height: 480px;
    background-color: #4773ff;
    margin: 0 auto;
    margin-top: 38px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.nwe-title {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 25px;

}

.new-item {
    color: #ffffff;
    margin-top: 15px;
}

.input-new {
    display: flex;
    padding: 10px 47px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    text-align: center;
}



label {
    padding-left: 20px;
}

.new-item-btn {
    margin-top: 10px;
    margin-left: auto;
}

.new-item-btn input {
    display: block;
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
    background-color: #CC0066;
    color: #ffffff;
    font-size: 15px;
    width: 130px;
    cursor: pointer;
}

.back-login {
    text-align: center;
    padding-top: 10px;
}

.back-login a {
    color: #ffffff;
    font-size: 12px;
}

#clear {
    width: 300px;
    height: 250px;
    background-color: #4773ff;
    margin: 0 auto;
    margin-top: 38px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.add-form {
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

.add-text {
    padding-top: 40px;
}


.back-login {
    display: block;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    background-color: #CC0066;
    color: #ffffff;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
    margin-left: 65px;
    margin-top: 30px;
}
